{{ partial "header.html" . }}

<div id="container" class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 logo">
          <h3>Tino Breddin - ITB </h3>
        </div>
        <div class="col-sm-12">
          <p>Hi, my name is Tino Breddin.</p>
          <p>I'm a distributed systems specialist, consultant and mobile computing enthusiast.</p>
          <p>Check out <a href="https://www.tolbrino.com" target="_blank">my blog</a> or find me on <a href="https://github.com/tolbrino" target="_blank">Github</a>.</p>
          <p>I'm <mark>currently available</mark> for contract work. If you'd like to discuss a project, feel free to <a href="mailto:info@tbreddin.com?Subject=[ITB]%20Website%20Contact%20Request">get in touch</a>.</p>
          <p class="copyright"><em>Copyright &copy; Tino Breddin - IT Beratung</em></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li role="presentation" ref="work" class="active"><a href="#">Past and Current Work</a></li>
            <li role="presentation" ref="tech"><a href="#">Technologies I use</a></li>
          </ul>
        </div>
      </div>
      <div class="row content">
        <div class="col-sm-12" data-ref="work">
          <div class="row project">
            <div class="col-sm-2 projectname">
              <strong>ITB</strong>
            </div>
            <div class="col-sm-10">
              <p>As a freelancer I help companies to build great products. I advise on architecture and technology choices, implement mobile apps and backend systems, audit existing systems and infrastructure.</p>
            </div>
          </div>
          <div class="row project">
            <div class="col-sm-2 projectname">
              <strong>daogames</strong>
            </div>
            <div class="col-sm-10">
              <p>I co-founded <a href="https://www.daogames.com">daogames</a> and led the company as CEO. We built a multi-tenant backend-as-a-service for mobile multiplayer games which was used by small game development teams.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12" data-ref="tech">
          <div class="row project">
            <div class="col-sm-2 projectname">
              <strong>Erlang/OTP</strong>
            </div>
            <div class="col-sm-10">
              <p>I've been using <a href="http://erlang.org" target="_blank">Erlang/OTP</a> since 2007 for small and large backend systems in various areas ranging like data processing, data storage, financial transactions, internet messaging and gaming. Its hands-on approach to robustness and scalability makes it the ideal platform for distributed systems in general.</p>
              <em>Recommended Resources:</em>
              <ul>
                <li><a href="http://learnyousomeerlang.com/" target="_blank">LearnYouSomeErlang</a></li>
                <li><a href="https://pragprog.com/book/jaerlang2/programming-erlang" target="_blank">Programming Erlang</a></li>
              </ul>
            </div>
          </div>
          <div class="row project">
            <div class="col-sm-2 projectname">
              <strong>Go</strong>
            </div>
            <div class="col-sm-10">
              <p>As a fairly young systems programming language <a href="https://golang.org" target="_blank">Go</a> has proven to be very useful for small components and services. Its easy approach to deployment via dependency-free binaries makes it a joy to work with in environments with fast deployment cycles.</p>
              <em>Recommended Resources:</em>
              <ul>
                <li><a href="https://golang.org/pkg/" target="_blank">Go Standard Library</a></li>
                <li><a href="https://golang.org/doc/effective_go.html" target="_blank">Effective Go</a></li>
              </ul>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->

{{ partial "footer.html" . }}
<script type="text/javascript" src="/js/custom.js"></script>
{{ partial "footer_body.html" . }}
